<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">


</head>

<body>
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">We are <span>HydroNourish</span></h2>
                <p>Welcome to <strong>HydroNourish</strong>, your premier destination for premium bottled water and nutritious food selections. Located at the heart of our community, we're committed to providing quality hydration and food options that support your health and wellness.</p>
                <p>Our mission is to ensure access to pure, refreshing bottled water and a variety of nourishing food choices. From artesian waters to organic snacks, our products are carefully selected to promote a healthy, sustainable lifestyle.</p>
                <p>We pride ourselves on our eco-friendly approach and our dedication to sustainability. Join us in our journey towards better health and environmental stewardship. Experience the <strong>HydroNourish</strong> difference today.</p>
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>

        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We Value Quality</h3>
                    <p>At HydroNourish, we partner with top-tier suppliers to ensure every bottle of water and food item meets our high standards. Quality is at the heart of everything we serve to our friends and family, and to you.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We Embrace Sustainability</h3>
                    <p>We're committed to sustainability in our product selections and operations. Our bottled water is packaged in eco-friendly materials, and we constantly seek ways to reduce our environmental footprint.</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We Offer Variety</h3>
                    <p>HydroNourish boasts a diverse range of bottled waters—from spring to mineral—and a curated selection of nutritious food options. Whether you're seeking hydration or a healthy snack, we've got you covered.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Feed  -->
<div th:replace="~{fragments::instagram-box}">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">

</footer>


<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>